<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GitHub Account Stats Web Service</title>

		<style>
footer a {
	text-decoration: none;
	color: #333;
}

footer a:hover {
	color: #007bff;
}
		</style>


	</head>

	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#features">Features</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</nav>
			<a href="https://ofentseloeto.github.io/Research-Project-_approval_Part/" class="btn">Try it now</a>

		</header>

		<!-- Hero Section -->
		<section class="Home">
			<img src="https://www.stickpng.com/img/download/63457c5b458f7fedca818679" alt="Cover Image" />
			<h1>GitHub Account Stats Web Service</h1>
			<p>A web service to explore GitHub stats and more.</p>
			<a href="https://ofentseloeto.github.io/Research-Project-_approval_Part/" class="btn">Visit project</a>
		</section>

		<!-- Feature Section -->

		<section id="features" class="features">
			<div class="feature">
				<img src="https://iconduck.com/icons/19610/github?shared" alt="Get Stats" />
				<h2>Feature 1 </h2>
				<p>Get your github stats.</p>
			</div>

			<div class="feature">
				<img src="https://iconduck.com/emojis/43731/linkedin?shared" alt="Linkedin Profile" />
				<h2>Feature 2 </h2>
				<p>View linkedin profile.</p>
			</div>

			<div class="feature">
				<img src="https://iconduck.com/icons/19620/home?shared" alt="Home" />
				<h2>Feature 3</h2>
				<p>Explore github.</p>
			</div>
		</section>

		<section id="about" class="about">
			<h2>About the project</h2>
			<p>Title: Unlocking the GitHub Universe: My Journey as a Holberton Student
			Hi there! I am Ofentse Loeto, a dedicated student at Holberton School, passionate about exploring the world of software engineering. This project, an integral part of my portfolio, emerged from a burning curiosity to delve deeper into the realm of GitHub. I believe in the power of open-source collaboration and wanted to uncover the intricacies of version control, community-driven development, and the sheer magic of GitHub's ecosystem. Through thisproject, i've embarked on the journey to master the art of navigating GitHub's API's. Harnessing data to provide insightful statistics, and empowering developers to understand and enhence their GitHub presence. Join me as we embark on this facinating exploration together. 
			.</p>
			<p><a href="https://github.com/OfentseLoeto/Research-Project-_approval_Part" target="_blank">GitHub Repository</a></p>
		</section>

		<footer>
			<ul>
				<li><a href="https://www.facebook.com/ofentseloeto" target="_blank"><i class="fab fa-facebook"></i>Facebook Profile</a></li>
				<li><a href="https://www.linkedin.com/ofentsetheophilusloeto" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn Profile</a></li>
			</ul>
			<p>Contact: ohentseloeto610@gmail.com</p>
			<p>&copy; 2023 Ohentse Loeto</p>

		</footer>

	</body>

</html>
