<!DOCTYPE html>
<html lang="en">

        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles.css">

	</head>

	<body>

		<div class="container">
		<h1 class="mt-5">GitHub Account Stats Web Services</h1>
		<p>A web service to explore GitHub stats and more.</p>

		<form action="/github/stats/" method="GET">
			<div class="form-group">
			<label for="username">GitHub Username:</label>
			<input type="text" class="form-control" id="username" name="username" required>
			</div>
			<button type="submit" class="bnt btn-primary">Get Stats</button>

		</form>

			<div id="results"></div>
		</div>

			<script>
				document.querySelector('form').addEventListener('submit', function(e) {
					e.preventDefault();
					const username = document.querySelector('#username').value;
					fetch(`/github/stats/${username}`)
						.then(response => response.json())
						.then(data => {
							const resultDiv = document.querySelector('#results');
							resultDiv.innerHTML = `
							<h2>GitHub Stats for ${data.username}</h2>
							<p>Name: ${data.name}</p>
							<P>Followers: ${data.followers}</p>
							<p>Following: ${data.following}</p>
							<p>Public Repositories: ${data.public_repos}</p>
							`;
						})
							.catch (error => {
								console.error(error);
								const resultDiv = document.querySelector('#results');
								resultDive.innerHTML = '<p>Error: User not found</p>';
							});
				});
			</script>

			<footer>
				<ul>
					 <li><a href="https://www.linkedin.com/in/ohentse-theophilus-loeto-b968b61a1" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn Profile</a></li>
					 <li><a href="https://www.facebook.com/ofentseloeto" target="_blank"><i class="fi fi-brands-facebook"></i>Facebook Profile</a></li>
				</ul>
				<p>Contact ohentseloeto610@gmail.com</p>
				<p>&copy; 2023 Ohentse Loeto</p>
			</footer>
	</body>
</html> 
