<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GitHub Account Stats Web Service</title>
		<link rel="stylesheet" href="styles.css">
	</head>

	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#features">Features</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</nav>
			<a href="<YOUR_DEPLOYED_APP_URL>" class="btn">Try it now</a>
		</header>

		<!-- Hero Section -->
		<section class="Home">
			<img src="https://images.app.goo.gl/YByoYxqG1SSMdAuDA" alt="Cover Image" />
			<h1>GitHub Account Stats Web Service</h1>
			<p>A web service to explore GitHub stats and more.</p>
			<a href="https://ofentseloeto.github.io/Research-Project-_approval_Part/" class="btn">Visit project</a>
		</section>

		<!-- Feature Section -->

		<section id="features" class="features">
			<div class="feature">
				<img src="https://images.app.goo.gl/HiQumjvJSDKL1NMx8" alt="Feature 1" />
				<h2>Feature 1 </h2>
				<p>Description of Feature 1.</p>
			</div>

			<div class="feature">
				<img src="https://images.app.goo.gl/Rhu6nRYjQiR4BXUEA" alt="Feature 2" />
				<h2>Feature 2 </h2>
				<p>Description of Feature 2.</p>
			</div>

			<div class="feature">
				<img src="https://images.app.goo.gl/H4ryxdTVSaZHVzoD8" alt="Feature 3" />
				<h2>Feature 3</h2>
				<p>Description of Feature 3.</p>
			</div>
		</section>

		<section id="about" class="about">
			<h2>About the project</h2>
			<p>A personal story about what inspired the project. Mention the timeline and that it's a Portfolio Project for Holberton School. You can provide a link to the GitHub repository as well.</p>
			<p><a href="https://github.com/ofentseloeto/Research-Project-_approval_Part" target="_blank">GitHub Repository</a></p>
		</section>

		<footer>
			<p>&copy; 2023 Ohentse Loeto</p>
		</footer>
	</body>

</html>
