<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GitHub Account Stats Web Service</title>
	</head>

	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#features">Features</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</nav>
			<a href="https://ofentseloeto.github.io/Research-Project-_approval_Part/" class="btn">Try it now</a>

		</header>

		<!-- Hero Section -->
		<section class="Home">
			<img src="https://www.pngwing.com/en/free-png-houth" alt="Cover Image" />
			<h1>GitHub Account Stats Web Service</h1>
			<p>A web service to explore GitHub stats and more.</p>
			<a href="https://ofentseloeto.github.io/Research-Project-_approval_Part/" class="btn">Visit project</a>
		</section>

		<!-- Feature Section -->

		<section id="features" class="features">
			<div class="feature">
				<img src="https://iconduck.com/icons/19610/github?shared" alt="Get Stats" />
				<h2>Feature 1 </h2>
				<p>Description of Feature 1.</p>
			</div>

			<div class="feature">
				<img src="https://iconduck.com/emojis/43731/linkedin?shared" alt="Linkedin Profile" />
				<h2>Feature 2 </h2>
				<p>Description of Feature 2.</p>
			</div>

			<div class="feature">
				<img src="https://iconduck.com/icons/19620/home?shared" alt="Home" />
				<h2>Feature 3</h2>
				<p>Description of Feature 3.</p>
			</div>
		</section>

		<section id="about" class="about">
			<h2>About the project</h2>
			<p>A personal story about what inspired the project. Mention the timeline and that it's a Portfolio Project for Holberton School. You can provide a link to the GitHub repository as well.</p>
			<p><a href="https://github.com/OfentseLoeto/Research-Project-_approval_Part" target="_blank">GitHub Repository</a></p>
		</section>

		<footer>
			<ul>
				<li><a href="https://www.facebook.com/ofentseloeto" target="_blank"><i class="fab fa-facebook"></i>Facebook</a></li>
				<li><a href="https://www.linkedin.com/ofentsetheophilusloeto" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
			</ul>
			<p>&copy; 2023 Ohentse Loeto</p>
		</footer>
	</body>

</html>
